@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 639px) {
/*=== Nav ===================================================================================================*/
.nav_wrap{ width:100%; position:absolute; z-index:99999; background:#1c1c1c; box-shadow:0 5px 7px rgba(0,0,0,.7); }
.nav_area{ width:100%; position:relative;}

/*** Nav ***/
nav{ display:block; width:440px; height:auto; margin:0 auto; background-image:none;}

	.menu,
	.menu .sub-nav-wrapper, 
	.menu .sub-nav-wrapper ul.sub-nav{ width:100%;}

	.menu li {}
	.menu li a { display:block; width:100%; text-align:center; font-size:18px; padding:10px 0; background:#1c1c1c; color:rgba(255,255,255,.75);
				 text-shadow:0px 1px 5px rgba(0,0,0,1); border-bottom:1px solid rgba(0,0,0,.2); }
	.menu li a:hover { color:#ffdd50; text-shadow:0px 1px 6px rgba(0,0,0,1);}

	.menu li ul li a{ padding:5px 0; font-size:15px; background:#333; color:rgba(255,255,255,.5); text-shadow:0 0 0 rgba(0,0,0,0); border-bottom:1px dashed rgba(0,0,0,.2);}
	.menu li ul li a:hover { color:#fff; text-shadow:0 0 0 rgba(0,0,0,0);}

}
/*--- 480 ---*/
@media only screen and (min-width: 480px) and (max-width: 639px) {
/*** Nav ***/
nav{ width:440px;}
}
/*--- 320 ---*/
@media only screen and (max-width: 479px) {
/*** Nav ***/
nav{ width:300px;}
}