
#top {
	Z-INDEX: 1;
	WIDTH: 1024px;
	POSITION: absolute;
	visibility: visible;
	margin: 0 0 0 0px;
}
#index_main {
	Z-INDEX: 1;
	WIDTH: 690px;
	POSITION: absolute;
	visibility: visible;
	margin-left: 40px;
	margin-top: 520px;
}

body {
	margin: 0 0 0 0px;
	background-image: url(../images/bgbg.gif);
}



.link-gray-12:hover ,.link-gray-12:visited ,.link-gray-12:link
{font-size: 12px; height:10px; color:#909090; padding:1px; text-decoration: none; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; line-height: 140%;}
.link-gray-12:hover
{font-size: 12px; height:10px; color:#1f1f1f; padding:1px; text-decoration: none; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; line-height: 140%;}

.link-menu:hover ,.link-menu:visited ,.link-menu:link
{font-size: 12px; height:10px; color:#cbcbcb; padding:1px; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; text-decoration: none; line-height: 150%;}
.link-menu:hover
{font-size: 14px; height:10px; color:#fffefe; padding:1px; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; text-decoration: none; line-height: 150%;font-weight: bold;}

link-no:hover ,.link-no:visited ,.link-no:link
{font-size: 10px; height:10px; color:#8f8f8f; padding:1px; text-decoration: none; line-height: 130%;}
.link-no:hover
{font-size: 10px; height:10px; color:#ff6200; padding:1px; text-decoration: none; line-height: 130%;font-weight: bold;}

.link-white-12:hover ,.link-white-12:visited ,.link-white-12:link
{font-size: 12px; height:10px; color:#E3E3E3; padding:1px; text-decoration: none; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; line-height: 140%;}
.link-white-12:hover
{font-size: 12px; height:10px; color:#ffffff; padding:1px; text-decoration: none; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; line-height: 140%;}



.font_15-orangepx {font-size: 15px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #ff6200; font-weight: bold;}

.font_14-whitepx {font-size: 14px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #ffffff; line-height:150%;font-weight: bold;}

.font_13-orangepx {font-size: 13px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #ff6200; line-height:160%;}
.font_13-graypx {font-size: 13px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #5d5d5d; line-height:160%;font-weight: bold;}
.font_13-whitepx {font-size: 13px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #ffffff; line-height:160%;font-weight: bold;}

.font_12-orangepx {font-size: 12px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #ff6200;}
.font_12-mainpx {font-size: 12px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #a3a3a3; line-height:170%;}
.font_12-graypx {font-size: 12px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #909090; line-height:160%;}
.font_12-gray-1px {font-size: 12px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #7d7d7d; line-height:160%;}
.font_12-blackpx {font-size: 12px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #000000; line-height:160%;font-weight: bold;}
.font_12-whitepx {font-size: 12px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #ffffff;font-weight: bold; line-height:140%;}

.font_11-graypx {font-size: 11px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #a1a1a1; line-height:160%;}
.font_11-gray_1px {font-size: 11px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #b9b9b9; line-height:140%;}
.font_11-gray_2px {font-size: 11px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #696969; line-height:140%;}


.font_10-graypx {font-size: 10px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #8f8f8f; line-height:140%;}
.font_10-gray_1px {font-size: 10px; text-decoration: none; font-family: "Verdana","Arial","Helvetica","sans-serif"; color: #606060; line-height:140%;}


