@charset "utf-8";
/* CSS Document */
body{ font-family:"微軟正黑體", "新細明體"; color:#555;}
body, html{ height:100%;}
*{ box-sizing:border-box;}
a, a:hover{ text-decoration:none;}
.wrapper{ width:100%; height:100%; position:absolute; z-index:2; top:0; left:0; min-width:320px; overflow-x:hidden;}


header{ background:#50C0C1; box-shadow:0 2px 10px rgba(0,0,0,.28); border-bottom:1px solid rgba(255,255,255,.28);}
footer{ background:#3B434F; color:rgba(255,255,255,.5); padding:20px 0; letter-spacing:1.3px;}
.logo{ margin:14px 0;}
.footer_logo{ text-align:right;}



/*** Header Nav ***/
.header_menu, .header_menu_mobile{ list-style:none; padding:0; margin:0; }
.header_menu li span, .header_menu_mobile li span{  width:40px; height:26px; background-image:url(../images/icon_header.png);}
.header_menu li, .header_menu_mobile li, .header_menu li a, .header_menu_mobile li a {
	-webkit-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out; }
.header_menu li a, .header_menu_mobile li a { color:#fff;}

/*****/
.header_menu { }
.header_menu li { float:right; width:86px; padding:14px 0; cursor:pointer;}
.header_menu li a   { display:block; font-size:14px; line-height:14px; text-align:center; }
.header_menu li span{ display:block; margin:0 23px 2px 23px;}
.header_menu li:hover { background:rgba(255,255,255,.28);}
.header_menu li:hover a{color:rgba(255,255,255,1); text-shadow:0 0 3px rgba(0,0,0,.45);}
.header_menu li:nth-child(3) span{ background-position:0 0;}
.header_menu li:nth-child(2) span{ background-position:-40px 0;}
.header_menu li:nth-child(1) span{ background-position:-80px 0;}

.header_menu li.dropdown:before{
	position:absolute; content: '';
	display: inline-block;
	width: 0; height: 0; left:38px; top:60px;
	border: 5px solid transparent;
	border-top-color:#fff;}

.dropdown-menu, .dropdown-menu li{ padding:0; margin:0; list-style:none; float:none;}
.dropdown-menu{ background:#50C0C1;}
.dropdown-menu li{ width:auto; border-bottom:1px dotted rgba(255,255,255,.5);}
.dropdown-menu li a{ text-align:left; padding:8px 5px;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	/*color: #262626;*/
	text-decoration: none;
	background:rgba(255,255,255,0);
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #337ab7;
	outline: 0
}

/* box from */
.box_login {
	padding:10px 6px;}
.box_login .form-login {
	position: relative; margin-bottom:-7px;
}
.box_login .form-login:last-child {
	margin-bottom: 0;
}
.box_login .form-login input[type="text"] {
	box-sizing: border-box; width: 100%; padding:6px;
	border:1px solid rgba(255,255,255,.6);
	border-radius:4px; outline:0;
	-webkit-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
	background-color:#50C0C1;
	color:rgba(255,255,255,1);
}
.box_login .form-login input[type="text"] + label[data-placeholder] {
	pointer-events:none; color:rgba(255,255,255,.75);
}
.box_login .form-login input[type="text"] + label[data-placeholder]:after {
	content: attr(data-placeholder);
	display:block;  position:absolute;
	top:33%; left:0.5rem; padding: 0 0.25rem;
	-webkit-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	-webkit-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
}
.box_login .form-login input[type="text"]:focus, .box_login .form-login input[type="text"]:valid {
	border: 1px solid #00ff94;
}
.box_login .form-login input[type="text"]:focus + label[data-placeholder]:after, .box_login .form-login input[type="text"]:valid + label[data-placeholder]:after {
	-webkit-transform: translate(-5%, -150%) scale(0.9, 0.9);
		-ms-transform: translate(-5%, -150%) scale(0.9, 0.9);
			transform: translate(-5%, -150%) scale(0.9, 0.9);
	color:#00ff94;
	background-color:#50C0C1;
}




/*****/
.header_menu_mobile{ width:280px; margin:0px auto;}
.header_menu_mobile li { border-bottom:1px dashed rgba(255,255,255,.5);}
.header_menu_mobile li a   { display:inline-block; font-size:22px; line-height:40px; padding:0 0 -10px 0;}
.header_menu_mobile li span{ display:inline-block; margin:8px 10px 0 0;}
.header_menu_mobile li a:hover{ color:#50c0c1;}
.header_menu_mobile li:nth-child(1) span{ background-position:0 0;}
.header_menu_mobile li:nth-child(2) span{ background-position:-40px 0;}
.header_menu_mobile li:nth-child(3) span{ background-position:-80px 0;}

.header_menu_mobile li ul { display:block; border-top:1px dashed rgba(255,255,255,.5);}
.header_menu_mobile li ul li{ margin:0 0 0 50px; border-top:1px dashed rgba(255,255,255,.2);}
.header_menu_mobile li ul li a{ display:block; font-size:16px; line-height:32px; color:rgba(255,255,255,.75); }


/*** Header Nav Fotm Login  ***/
.header_menu_mobile li ul .box_login .form-login input[type="text"] {
	border:1px solid rgba(255,255,255,.4);
	background-color:#002a5c;
}
.header_menu_mobile li ul .box_login .form-login input[type="text"] + label[data-placeholder] {
	color:rgba(255,255,255,.5);
}
.header_menu_mobile li ul .box_login .form-login input[type="text"]:focus,
.header_menu_mobile li ul .box_login .form-login input[type="text"]:valid {
	border: 1px solid #00ff94;
}
.header_menu_mobile li ul .box_login .form-login input[type="text"]:focus + label[data-placeholder]:after,
.header_menu_mobile li ul .box_login .form-login input[type="text"]:valid + label[data-placeholder]:after {
	color:#00ff94;
	background-color:#002a5c;
}

.code-input{ float:left; width:50%;}
.form-login-code{ float:left; width:50%;position:relative; height:34px; cursor:pointer;}
.code_img{ position:absolute; max-width:100%; height:34px; margin:0 0 0 3px; background:rgba(0,0,0,.2);}
.code_btn{ position:absolute; z-index:2; bottom:0; right:-2px; background:rgba(255,255,255,.25);
			border:0px solid rgba(255,255,255,.3); border-radius:3px; color:#fff; width:20px; height:20px; font-size:10px;}
.code_btn i{ margin:0 0 0 -2px;}




/*** Header Nav Mobile  ***/
*::after, *::before { content: ''; }
.nav-trigger { position:absolute; display:inline-block;}
.nav-trigger {
	top:8px; right:5%; height:44px;  width:44px; z-index:5;
	overflow:hidden; text-indent:100%; white-space:nowrap;}
.nav-trigger .nav_icon {
	position: absolute; display: inline-block;
	left: 50%; top: 50%; bottom: auto; right: auto;
	width: 18px; height:3px; z-index: 10;
	background-color: #ffffff; box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-webkit-transform: translateX(-50%) translateY(-50%);
	   -moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		 -o-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);}
.nav-trigger .nav_icon::before, .nav-trigger .nav_icon:after {
	position: absolute; top:0; right:0; width:100%; height:100%;
	background-color: #ffffff; box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		 -o-transform: translateZ(0);
			transform: translateZ(0);
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transition: -webkit-transform .3s;
	   -moz-transition: -moz-transform .3s;
			transition: transform .3s;}
.nav-trigger .nav_icon::before {
	-webkit-transform: translateY(-6px) rotate(0deg);
	   -moz-transform: translateY(-6px) rotate(0deg);
		-ms-transform: translateY(-6px) rotate(0deg);
		 -o-transform: translateY(-6px) rotate(0deg);
			transform: translateY(-6px) rotate(0deg);}
.nav-trigger .nav_icon::after {
	-webkit-transform: translateY(6px) rotate(0deg);
	   -moz-transform: translateY(6px) rotate(0deg);
		-ms-transform: translateY(6px) rotate(0deg);
		 -o-transform: translateY(6px) rotate(0deg);
			transform: translateY(6px) rotate(0deg);}
.nav-trigger::before, .nav-trigger::after {
	position:absolute; border-radius:50%;
	top:0; left:0;  height:100%; width:100%;
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		 -o-transform: translateZ(0);
			transform: translateZ(0);
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	   -moz-transition-property: -moz-transform;
			transition-property: transform;}
.nav-trigger::before {
	background-color:#002a5c;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
		-ms-transform: scale(1);
		 -o-transform: scale(1);
			transform: scale(1);
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
			transition-duration: 0.3s;
	-webkit-transition-delay: 0.4s;
	   -moz-transition-delay: 0.4s;
			transition-delay: 0.4s;}
.nav-trigger::after {
	background-color:#50c0c1;
	border:1px solid rgba(255,255,255,.3);
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
		-ms-transform: scale(0);
		 -o-transform: scale(0);
			transform: scale(0);
	-webkit-transition-duration: 0s;
	   -moz-transition-duration: 0s;
			transition-duration: 0s;
	-webkit-transition-delay: 0s;
	   -moz-transition-delay: 0s;
			transition-delay: 0s;}
.nav-trigger.close-nav::before {
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
		-ms-transform: scale(0);
		 -o-transform: scale(0);
			transform: scale(0);}
.nav-trigger.close-nav::after {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
		-ms-transform: scale(1);
		 -o-transform: scale(1);
			transform: scale(1);
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
			transition-duration: 0.3s;
	-webkit-transition-delay: 0.4s;
	   -moz-transition-delay: 0.4s;
			transition-delay: 0.4s;}
.nav-trigger.close-nav .nav_icon {
	background-color: rgba(255, 255, 255, 0); box-shadow:1px 1px 3px rgba(0,0,0,0); }
.nav-trigger.close-nav .nav_icon::before, .nav-trigger.close-nav .nav_icon::after {
	background-color: white; box-shadow:1px 1px 3px rgba(0,0,0,.3); }
.nav-trigger.close-nav .nav_icon::before {
	-webkit-transform: translateY(0) rotate(45deg);
	   -moz-transform: translateY(0) rotate(45deg);
		-ms-transform: translateY(0) rotate(45deg);
		 -o-transform: translateY(0) rotate(45deg);
			transform: translateY(0) rotate(45deg);}
.nav-trigger.close-nav .nav_icon::after {
	-webkit-transform: translateY(0) rotate(-45deg);
	   -moz-transform: translateY(0) rotate(-45deg);
		-ms-transform: translateY(0) rotate(-45deg);
		 -o-transform: translateY(0) rotate(-45deg);
			transform: translateY(0) rotate(-45deg);}

/* nav mobile */
.primary-nav {
	position:fixed; z-index:3;
	left:0; top:0; height:100%; width:100%; padding:25px 0;
	background-color:#002a5c; overflow:auto; visibility:hidden; opacity:0;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: visibility 0s, opacity 0.3s;
	   -moz-transition: visibility 0s, opacity 0.3s;
			transition: visibility 0s, opacity 0.3s;}
.primary-nav.fade-in {
	visibility:visible; opacity:1;}
.overlay-nav, .overlay-content {
	position:fixed; top:18px; right:5%; height:4px; width:4px;
	-webkit-transform: translateX(-20px) translateY(20px);
	   -moz-transform: translateX(-20px) translateY(20px);
		-ms-transform: translateX(-20px) translateY(20px);
		 -o-transform: translateX(-20px) translateY(20px);
			transform: translateX(-20px) translateY(20px);}
.overlay-nav span, .overlay-content span {
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		 -o-transform: translateZ(0);
			transform: translateZ(0);
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	will-change: transform;
	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		 -o-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
		 -o-transform: scale(0);
			transform: scale(0);}
.overlay-nav.is-hidden, .overlay-content.is-hidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	   -moz-transition: opacity .3s 0s, visibility 0s .3s;
			transition: opacity .3s 0s, visibility 0s .3s;}

.overlay-nav { z-index:2; }
.overlay-nav span { background-color:#002a5c;}

.overlay-content { z-index:4;}
.overlay-content span { background-color:#50c0c1;}






/*** Area Plan  ***/
.area_plans{ width:100%; margin:20px 0px; position:relative;}
.plans_map, .data_iframe { width:100%; height:600px; background:#fff; border-radius:8px; box-shadow:0 0 10px rgba(0,0,0,.45); padding:0;}
.plans_info{ width:300px; right:12px;}
.data_iframe{ padding:20px 0 20px 20px;}
.data_close { display:none; position:absolute; z-index:10; cursor:pointer; top:10px; right:12px; width:36px; height:36px; padding:9px 0 0 11px;
			  border-radius:50px; background:#50c0c1; color:#fff;
			 -webkit-transition: all 0.5s ease-in-out;
			 		 transition: all 0.5s ease-in-out;}
.data_close:hover{ background:#002a5c;}
.data_area_mobile, .data_mask, .data_mask .data_iframe{ width:100%; height:100%;}
.data_mask{ position:relative; z-index:100; background:#fff; opacity:1; left:-100%;}
.data_mask .data_iframe{ border-radius:0px; padding:30px 0 30px 20px;}
.data_mask .data_close { right:15px; width:44px; height:44px; padding:13px 0 0 15px;}





/*** Box Airinfo  ***/
.box_airinfo{ width:300px; background:#fff; margin:12px auto; padding:0 20px; box-sizing:border-box; border-radius:6px; box-shadow:0 0 8px rgba(0,0,0,.3);}
.box_airinfo h3{ padding:3px 0 17px 0; margin:0; text-align:left; font-weight:600;}
.box_airinfo h5{ color:#074b96; text-align:center; margin:0; padding:10px 0 5px 0;}
.box_airinfo:first-child h5{ text-align:left;}
.box_airinfo:first-child h5 span{ color:#333; padding:0 0 0 8px;}

.box_airinfo .area_aqi{ position:relative; width:64px; height:57px; float:left; background:rgba(0,0,0,.3); margin:0 10px 0 -10px; }
.box_airinfo .area_aqi:after{
	content:"";
	position:absolute;
	top:57px;
	left:0px;
	width:0px;
	height:0px;
	border-width:14px 32px 0;
	border-color:rgba(0,0,0,.3) transparent ;
	border-style:solid;
}

.box_airinfo .area_aqi div { position:relative; width:34px; height:34px; margin:5px 15px 0 15px;}
.box_airinfo.lv_06 .area_aqi div { position:relative; width:34px; height:57px; margin:-18px 15px 0 15px;}
.box_airinfo .area_aqi div img{ position:absolute; top:0;}
.box_airinfo .area_aqi span{ display:block; text-align:center; color:#fff; font-size:16px;}

.box_airinfo.lv_01 .area_aqi{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#47b034+0,97c655+5,47b034+45,47b034+100 */
background: #47b034; /* Old browsers */
background: -moz-linear-gradient(top, #47b034 0%, #97c655 5%, #47b034 45%, #47b034 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #47b034 0%,#97c655 5%,#47b034 45%,#47b034 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #47b034 0%,#97c655 5%,#47b034 45%,#47b034 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47b034', endColorstr='#47b034',GradientType=0 ); /* IE6-9 */
	}
.box_airinfo.lv_02 .area_aqi{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5d43c+0,f4e59f+5,f5d43c+45,f5d43c+100 */
background: #f5d43c; /* Old browsers */
background: -moz-linear-gradient(top, #f5d43c 0%, #f4e59f 5%, #f5d43c 45%, #f5d43c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f5d43c 0%,#f4e59f 5%,#f5d43c 45%,#f5d43c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f5d43c 0%,#f4e59f 5%,#f5d43c 45%,#f5d43c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d43c', endColorstr='#f5d43c',GradientType=0 ); /* IE6-9 */
	}
.box_airinfo.lv_03 .area_aqi{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f29619+0,f2bc4f+5,f29619+45,f29619+100 */
background: #f29619; /* Old browsers */
background: -moz-linear-gradient(top, #f29619 0%, #f2bc4f 5%, #f29619 45%, #f29619 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f29619 0%,#f2bc4f 5%,#f29619 45%,#f29619 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f29619 0%,#f2bc4f 5%,#f29619 45%,#f29619 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29619', endColorstr='#f29619',GradientType=0 ); /* IE6-9 */
	}
.box_airinfo.lv_04 .area_aqi{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d70029+0,f26363+5,d70029+45,d70029+100 */
background: #d70029; /* Old browsers */
background: -moz-linear-gradient(top, #d70029 0%, #f26363 5%, #d70029 45%, #d70029 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d70029 0%,#f26363 5%,#d70029 45%,#d70029 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d70029 0%,#f26363 5%,#d70029 45%,#d70029 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d70029', endColorstr='#d70029',GradientType=0 ); /* IE6-9 */
	}
.box_airinfo.lv_05 .area_aqi{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a52f8c+0,a56fba+5,a52f8c+45,a52f8c+100 */
background: #a52f8c; /* Old browsers */
background: -moz-linear-gradient(top, #a52f8c 0%, #a56fba 5%, #a52f8c 45%, #a52f8c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #a52f8c 0%,#a56fba 5%,#a52f8c 45%,#a52f8c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #a52f8c 0%,#a56fba 5%,#a52f8c 45%,#a52f8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a52f8c', endColorstr='#a52f8c',GradientType=0 ); /* IE6-9 */
	}
.box_airinfo.lv_06 .area_aqi{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#662033+0,8e4e70+5,662033+45,662033+100 */
background: #662033; /* Old browsers */
background: -moz-linear-gradient(top, #662033 0%, #8e4e70 5%, #662033 45%, #662033 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #662033 0%,#8e4e70 5%,#662033 45%,#662033 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #662033 0%,#8e4e70 5%,#662033 45%,#662033 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#662033', endColorstr='#662033',GradientType=0 ); /* IE6-9 */
	}

.box_airinfo.lv_01 .area_aqi:after{ border-color:#47b034 transparent;}
.box_airinfo.lv_02 .area_aqi:after{ border-color:#f5d43c transparent;}
.box_airinfo.lv_03 .area_aqi:after{ border-color:#f29619 transparent;}
.box_airinfo.lv_04 .area_aqi:after{ border-color:#d70029 transparent;}
.box_airinfo.lv_05 .area_aqi:after{ border-color:#A52F8C transparent;}
.box_airinfo.lv_06 .area_aqi:after{ border-color:#662033 transparent;}

.box_airinfo.lv_01 h3{ color:#47b034;}
.box_airinfo.lv_02 h3{ color:#f5d43c;}
.box_airinfo.lv_03 h3{ color:#f29619;}
.box_airinfo.lv_04 h3{ color:#d70029;}
.box_airinfo.lv_05 h3{ color:#A52F8C;}
.box_airinfo.lv_06 h3{ color:#662033;}

.box_airinfo.lv_01 .area_aqi .face_01, .box_airinfo.lv_02 .area_aqi .face_02,
.box_airinfo.lv_03 .area_aqi .face_03, .box_airinfo.lv_04 .area_aqi .face_04,
.box_airinfo.lv_05 .area_aqi .face_05, .box_airinfo.lv_06 .area_aqi .face_06{ display:block;}

.box_airinfo.lv_01 .area_aqi .face_02, .box_airinfo.lv_01 .area_aqi .face_03, .box_airinfo.lv_01 .area_aqi .face_04, 
.box_airinfo.lv_01 .area_aqi .face_05, .box_airinfo.lv_01 .area_aqi .face_06, 
.box_airinfo.lv_02 .area_aqi .face_01, .box_airinfo.lv_02 .area_aqi .face_03, 
.box_airinfo.lv_02 .area_aqi .face_04, .box_airinfo.lv_02 .area_aqi .face_05, 
.box_airinfo.lv_02 .area_aqi .face_06, 
.box_airinfo.lv_03 .area_aqi .face_01, .box_airinfo.lv_03 .area_aqi .face_02, 
.box_airinfo.lv_03 .area_aqi .face_04, .box_airinfo.lv_03 .area_aqi .face_05, 
.box_airinfo.lv_03 .area_aqi .face_06, 
.box_airinfo.lv_04 .area_aqi .face_01, .box_airinfo.lv_04 .area_aqi .face_02, 
.box_airinfo.lv_04 .area_aqi .face_03, .box_airinfo.lv_04 .area_aqi .face_05, 
.box_airinfo.lv_04 .area_aqi .face_06, 
.box_airinfo.lv_05 .area_aqi .face_01, .box_airinfo.lv_05 .area_aqi .face_02, 
.box_airinfo.lv_05 .area_aqi .face_03, .box_airinfo.lv_05 .area_aqi .face_04, 
.box_airinfo.lv_05 .area_aqi .face_06, 
.box_airinfo.lv_06 .area_aqi .face_01, .box_airinfo.lv_06 .area_aqi .face_02, 
.box_airinfo.lv_06 .area_aqi .face_03, .box_airinfo.lv_06 .area_aqi .face_04, 
.box_airinfo.lv_06 .area_aqi .face_05 { display:none;}


/*** Face Icon ***/
.face_01 {
		-webkit-animation: flipInY 1.3s ease-in-out infinite;
		   -moz-animation: flipInY 1.3s ease-in-out infinite;
			-ms-animation: flipInY 1.3s ease-in-out infinite;
			 -o-animation: flipInY 1.3s ease-in-out infinite;
				animation: flipInY 1.3s ease-in-out infinite;
}
.face_02 {
		-webkit-animation: swing .5s ease-in-out infinite;
		   -moz-animation: swing .5s ease-in-out infinite;
			-ms-animation: swing .5s ease-in-out infinite;
			 -o-animation: swing .5s ease-in-out infinite;
				animation: swing .5s ease-in-out infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
}
.face_03 {
		-webkit-animation: pulse .8s ease-in-out infinite;
		   -moz-animation: pulse .8s ease-in-out infinite;
			-ms-animation: pulse .8s ease-in-out infinite;
			 -o-animation: pulse .8s ease-in-out infinite;
				animation: pulse .8s ease-in-out infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
}
.face_05 {
		-webkit-animation: jello .8s ease-in-out infinite;
		   -moz-animation: jello .8s ease-in-out infinite;
			-ms-animation: jello .8s ease-in-out infinite;
			 -o-animation: jello .8s ease-in-out infinite;
				animation: jello .8s ease-in-out infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
}
.mouth_01{
		-webkit-animation: mouth_01 .7s ease-in-out infinite;
		   -moz-animation: mouth_01 .7s ease-in-out infinite;
			-ms-animation: mouth_01 .7s ease-in-out infinite;
			 -o-animation: mouth_01 .7s ease-in-out infinite;
				animation: mouth_01 .7s ease-in-out infinite;
		-webkit-transform-origin: 50% 60%;
		   -moz-transform-origin: 50% 60%;
			-ms-transform-origin: 50% 60%;
			 -o-transform-origin: 50% 60%;
				transform-origin: 50% 60%;
		-webkit-transform:scale(1,1);
		   -moz-transform:scale(1,1);
			-ms-transform:scale(1,1);
			 -o-transform:scale(1,1);
				transform:scale(1,1);
}
.eye_01{
		-webkit-animation: eye_01 .5s ease-in-out infinite;
		   -moz-animation: eye_01 .5s ease-in-out infinite;
			-ms-animation: eye_01 .5s ease-in-out infinite;
			 -o-animation: eye_01 .5s ease-in-out infinite;
				animation: eye_01 .5s ease-in-out infinite;
		-webkit-transform-origin: 50% 44%;
		   -moz-transform-origin: 50% 44%;
			-ms-transform-origin: 50% 44%;
			 -o-transform-origin: 50% 44%;
				transform-origin: 50% 44%;
		-webkit-transform:scale(1,1);
		   -moz-transform:scale(1,1);
			-ms-transform:scale(1,1);
			 -o-transform:scale(1,1);
				transform:scale(1,1);
		-webkit-animation-delay:6s;
				animation-delay:6s;
	}
.drip_01{
		-webkit-animation: drip 2.5s ease-in-out infinite;
		   -moz-animation: drip 2.5s ease-in-out infinite;
			-ms-animation: drip 2.5s ease-in-out infinite;
			 -o-animation: drip 2.5s ease-in-out infinite;
				animation: drip 2.5s ease-in-out infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
	}
.ghost{
		-webkit-animation: fadeOutUp 1.8s ease-in-out infinite;
		   -moz-animation: fadeOutUp 1.8s ease-in-out infinite;
			-ms-animation: fadeOutUp 1.8s ease-in-out infinite;
			 -o-animation: fadeOutUp 1.8s ease-in-out infinite;
				animation: fadeOutUp 1.8s ease-in-out infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%; opacity: 0;
}

/*** Animations FaceIcon ***/
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
	}
	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}
	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	}
	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	to {
		transform: perspective(400px);
	}
}

@keyframes mouth_01 {
	from {
		-webkit-transform: scale(1,1);
		   -moz-transform: scale(1,1);
			-ms-transform: scale(1,1);
			 -o-transform: scale(1,1);
				transform: scale(1,1);
	}
	50% {
		-webkit-transform: scale(0.7,0.7);
		   -moz-transform: scale(0.7,0.7);
			-ms-transform: scale(0.7,0.7);
			 -o-transform: scale(0.7,0.7);
				transform: scale(0.7,0.7);
	}
	to {
		-webkit-transform: scale(1,1);
		   -moz-transform: scale(1,1);
			-ms-transform: scale(1,1);
			 -o-transform: scale(1,1);
				transform: scale(1,1);
	}
}
@keyframes eye_01 {
	from {
		-webkit-transform: scale(1,1);
		   -moz-transform: scale(1,1);
			-ms-transform: scale(1,1);
			 -o-transform: scale(1,1);
				transform: scale(1,1);
	}
	50% {
		-webkit-transform: scale(1,0.2);
		   -moz-transform: scale(1,0.2);
			-ms-transform: scale(1,0.2);
			 -o-transform: scale(1,0.2);
				transform: scale(1,0.2);
	}
	to {
		-webkit-transform: scale(1,1);
		   -moz-transform: scale(1,1);
			-ms-transform: scale(1,1);
			 -o-transform: scale(1,1);
				transform: scale(1,1);
	}
}
@keyframes swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg); }
	40% {
		transform: rotate3d(0, 0, 1, -10deg);}
	60% {
		transform: rotate3d(0, 0, 1, 5deg); }
	80% {
		transform: rotate3d(0, 0, 1, -5deg);}
	to {
		transform: rotate3d(0, 0, 1, 0deg); }
}

@keyframes drip {
	0% {
		-webkit-transform:translate(0px,0px) scale(1,1);
		   -moz-transform:translate(0px,0px) scale(1,1);
			-ms-transform:translate(0px,0px) scale(1,1);
			 -o-transform:translate(0px,0px) scale(1,1);
				transform:translate(0px,0px) scale(1,1);
	}
	100% {
		-webkit-transform:translate(0px,5px) scale(2.5,2.5);
		   -moz-transform:translate(0px,5px) scale(2.5,2.5);
			-ms-transform:translate(0px,5px) scale(2.5,2.5);
			 -o-transform:translate(0px,5px) scale(2.5,2.5);
				transform:translate(0px,5px) scale(2.5,2.5); opacity:0;
	}
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1);}
}

@keyframes jello {
	from, 11.1%, to {
		transform: none; }
	22.2% {
		transform: skewX(-12.5deg) skewY(-12.5deg); }
	33.3% {
		transform: skewX(6.25deg) skewY(6.25deg); }
	44.4% {
		transform: skewX(-3.125deg) skewY(-3.125deg); }
	55.5% {
		transform: skewX(1.5625deg) skewY(1.5625deg); }
	66.6% {
		transform: skewX(-0.78125deg) skewY(-0.78125deg); }
	77.7% {
		transform: skewX(0.390625deg) skewY(0.390625deg); }
	88.8% {
		transform: skewX(-0.1953125deg) skewY(-0.1953125deg); }
}

@keyframes fadeOutUp {
  from {
    opacity: 0.5;
		-webkit-transform:translate(17px,55px) scale(2.2,2.2);
		   -moz-transform:translate(17px,55px) scale(2.2,2.2);
			-ms-transform:translate(17px,55px) scale(2.2,2.2);
			 -o-transform:translate(17px,55px) scale(2.2,2.2);
				transform:translate(17px,55px) scale(2.2,2.2);
  }
  to {
    opacity: 0;
		-webkit-transform:translate(34px,-50px) scale(1,1);
		   -moz-transform:translate(34px,-50px) scale(1,1);
			-ms-transform:translate(34px,-50px) scale(1,1);
			 -o-transform:translate(34px,-50px) scale(1,1);
				transform:translate(34px,-50px) scale(1,1);
  }
}



/*** Tab Nav ***/
.nav>li>a {
	position:relative;
	display: block;
	padding: 0px; }
.nav-tabs {
	border-bottom: 1px solid #fff; }
.nav-tabs>li>a {
	display:block;
	border-radius:0;
	width:44px; height:40px; margin:0 4px;
	border-bottom-width:3px;
	border-bottom-style:solid;}
.nav-tabs>li>a:hover {
	background:rgba(0,0,0,.08);
	-webkit-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	color: #555;
	cursor: default;
	border: 0px;
	border-bottom-width:3px;
	border-bottom-style:solid;}

.nav-tabs>li>a.green-tabcolor { border-bottom-color:rgba(71,176,52,1);}
.nav-tabs>li>a.yellow-tabcolor { border-bottom-color:rgba(245,212,60,1);}
.nav-tabs>li>a.orange-tabcolor{ border-bottom-color:rgba(242,150,25,1);}
.nav-tabs>li>a.red-tabcolor   { border-bottom-color:rgba(215,0,41,1);}
.nav-tabs>li>a.purple-tabcolor{ border-bottom-color:rgba(165,47,140,1);}
.nav-tabs>li>a.brown-tabcolor { border-bottom-color:rgba(102,32,51,1);}

.nav-tabs>li.active>a.green-tabcolor { border-bottom-color:rgba(71,176,52,1);  background:rgba(71,176,52,.25);}
.nav-tabs>li.active>a.yellow-tabcolor { border-bottom-color:rgba(245,212,60,1); background:rgba(245,212,60,.25);}
.nav-tabs>li.active>a.orange-tabcolor{ border-bottom-color:rgba(242,150,25,1); background:rgba(242,150,25,.25);}
.nav-tabs>li.active>a.red-tabcolor   { border-bottom-color:rgba(215,0,41,1);   background:rgba(215,0,41,.25);}
.nav-tabs>li.active>a.purple-tabcolor{ border-bottom-color:rgba(165,47,140,1); background:rgba(165,47,140,.25);}
.nav-tabs>li.active>a.brown-tabcolor { border-bottom-color:rgba(102,32,51,1);  background:rgba(102,32,51,.25);}

.green-color { color:#47b034;}
.yellow-color { color:#F2CA20;}
.orange-color{ color:#f29619;}
.red-color   { color:#d70029;}
.purple-color{ color:#A52F8C;}
.brown-color { color:#662033;}

.tab-pane h4{ margin-bottom:6px;}
.tab-pane h4 span{ padding-right:8px;}

.tab-content{ padding-bottom:15px;}



/*** Tab Icon ***/
.icon_tab_indoor{}
.icon_tab_outdoor{}
.icon_tab_allergy{}
.icon_tab_baby{}
.icon_tab_sport{}

svg.tab_icon {
  display:inline-block; width:auto; cursor:pointer; margin:4px 5px 6px 6px;
}

.indoor {stroke-dasharray:0 , 0, 0, 0;}
.outdoor{stroke-dasharray:0 , 0, 0, 0;}
.allergy{stroke-dasharray:0 , 0, 0, 0;}
.baby   {stroke-dasharray:0 , 0, 0, 0;}
.sport  {stroke-dasharray:0 , 0, 0, 0;}

@media screen\0 {
svg.tab_icon {
	margin:4px 5px 6px 0px;}
.indoor {stroke-dasharray: none;}
.outdoor{stroke-dasharray: none;}
.allergy{stroke-dasharray: none;}
.baby   {stroke-dasharray: none;}
.sport  {stroke-dasharray: none;}
	}

.nav-tabs li:hover a .tab_icon .indoor { -webkit-animation: indoor .7s;  animation: indoor .7s; }
.nav-tabs li:hover a .tab_icon .outdoor{ -webkit-animation: outdoor .7s; animation: outdoor .7s; }
.nav-tabs li:hover a .tab_icon .allergy{ -webkit-animation: allergy .7s; animation: allergy .7s; }
.nav-tabs li:hover a .tab_icon .baby   { -webkit-animation: baby .7s;    animation: baby .7s; }
.nav-tabs li:hover a .tab_icon .sport  { -webkit-animation: sport .7s;   animation: sport .7s; }

@-webkit-keyframes indoor { 10% {stroke-dasharray:0, 5, 0, 0} 100% { stroke-dasharray:3, 0, 33, 0;} }
		@keyframes indoor { 10% {stroke-dasharray:0, 5, 0, 0} 100% { stroke-dasharray:3, 0, 33, 0;} }
@-webkit-keyframes outdoor{ 10% {stroke-dasharray:0, 5, 2, 0} 100% { stroke-dasharray:2, 0, 23, 0;} }
		@keyframes outdoor{ 10% {stroke-dasharray:0, 5, 2, 0} 100% { stroke-dasharray:2, 0, 23, 0;} }
@-webkit-keyframes allergy{ 10% {stroke-dasharray:0, 5, 2, 0} 100% { stroke-dasharray:2, 0, 29, 0;} }
		@keyframes allergy{ 10% {stroke-dasharray:0, 5, 2, 0} 100% { stroke-dasharray:2, 0, 29, 0;} }
@-webkit-keyframes baby   { 10% {stroke-dasharray:0, 5, 3, 0} 100% { stroke-dasharray:2, 0, 30, 0;} }
		@keyframes baby   { 10% {stroke-dasharray:0, 5, 3, 0} 100% { stroke-dasharray:2, 0, 30, 0;} }
@-webkit-keyframes sport  { 10% {stroke-dasharray:0, 5, 3, 0} 100% { stroke-dasharray:6, 0, 30, 0;} }
		@keyframes sport  { 10% {stroke-dasharray:0, 5, 3, 0} 100% { stroke-dasharray:6, 0, 30, 0;} }



/*** Ari Prediction ***/
ul, li{ list-style:none; margin:0; padding:0;}
.ari_prediction , .ari_prediction li{ list-style:none; margin:0; padding:0; }

/*** old 一周預報樣式 **//*
.ari_prediction li{ display:inline-block; width:37px; border-right:1px solid rgba(0,0,0,.06); }
.ari_prediction li:last-child{ border-right:0px solid rgba(0,0,0,.08); }

.prediction_time, .prediction_data{ display:block; width:100%; text-align:center; font-size:10px;}
.prediction_data{ color:#3997b7; line-height:8px;}

.prediction_pic { display:block; width:32px; height:32px; margin:4px auto 6px auto; background-image:url(../images/icon_aqi_level.png);}
	.prediction_pic.green-face { background-position:0 0;}
	.prediction_pic.yellow-face { background-position:-32px 0;}
	.prediction_pic.orange-face{ background-position:-64px 0;}
	.prediction_pic.red-face   { background-position:-96px 0;}
	.prediction_pic.purple-face{ background-position:-128px 0;}
	.prediction_pic.brown-face { background-position:-160px 0;}
*/

.ari_prediction li{ display:inline-block; width:94px; border-right:1px solid rgba(0,0,0,.06); margin:8px 0 0 0; }
.ari_prediction li:last-child{ border-right:0px solid rgba(0,0,0,.08); }
.ari_prediction li div{ background:rgba(100,200,255,.15); margin:0 2px 2px 0;}
.ari_prediction li h5 { padding:3px 0 5px 0;}

.prediction_title, .prediction_data{ display:block; float:left; width:50px;/* width:100%; text-align:center;*/ font-size:10px;}
.prediction_title{ color:#555; line-height:20px; }
.prediction_data { color:#3997b7;}

.prediction_picF, .prediction_picT{ display:block; float:left; width:32px; height:32px; margin:3px; }
.prediction_picF { background-image:url(../images/icon_aqi_level.png);}
	.prediction_picF.green-face { background-position:0 0;}
	.prediction_picF.yellow-face { background-position:-32px 0;}
	.prediction_picF.orange-face{ background-position:-64px 0;}
	.prediction_picF.red-face   { background-position:-96px 0;}
	.prediction_picF.purple-face{ background-position:-128px 0;}
	.prediction_picF.brown-face { background-position:-160px 0;}

.prediction_picT { background-image:url(../images/icon_temperature.png); border-radius:100px;}
	.prediction_picT.blue-temp  { background-color:#27def4;}
	.prediction_picT.green-temp { background-color:#40b134;}
	.prediction_picT.yellow-temp{ background-color:#f5d53c;}
	.prediction_picT.orange-temp{ background-color:#f3971c;}
	.prediction_picT.red-temp   { background-color:#d60029;}
	.prediction_picT.purple-temp{ background-color:#a52e8d;}




.airinfo_chart{ margin:-22px 0 0 0;}
.airinfo_chart span{ display:block; width:50%; font-size:11px;}
.airinfo_chart span:first-child{ float:left; text-align:left;}
.airinfo_chart span:last-child { float:right;text-align:right;}
.airinfo_chart img { width:100%; clear:both; margin:10px 0 0 0;}



/*** LinkIcon Btn ***/
.link_btn{
	position:relative; display:block; font-size:18px; color:#333; background:#fff;
	width:100%; padding:10px 20px;
	margin:0 0 20px 0; text-align:center;
	border-radius:6px; border:1px solid #ccc;
	box-shadow:0 2px 10px rgba(0,0,0,.28);
	-webkit-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;}

.link_btn:after {
	position: absolute;
	top:-3px; bottom:-3px; left:-3px; right:-3px;
	background:#4AFFFA;
	border-radius:6px;
	box-shadow:0 0 0 rgba(0,0,0,0);
	content: '';
	z-index: -1;
}
.link_btn:before, .link_btn:after {
	-webkit-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
}
.link_btn:hover,
.link_btn:active,
.link_btn.hover {
	color:#074B96; background:#F8F8F8;
	text-shadow:0 0 3px rgba(255, 255, 255, 1);
	box-shadow :0 0 0 rgba(0,0,0,0);
	border:1px solid #fff;
}
.link_btn:hover:after, .link_btn:active:after, .link_btn.hover:after {
	box-shadow:0 2px 8px rgba(0,0,0,.35);
	-webkit-transform: rotate(0deg) scale(1);
			transform: rotate(0deg) scale(1);
}

.link_btn span{ display:block; margin:0 auto;}



/*** LinkIcon ***/
#icon_chart, #icon_earth, #icon_view, #icon_mountain, #icon_page, #icon_time{ position:relative; width:40px; height:40px; left:50%; margin:0 0 5px -40px;}
#icon_chart img, #icon_earth img, #icon_view img, #icon_mountain img, #icon_page img, #icon_time img{ position:absolute; top:0;}
/*#icon_chart*/
.link_btn:hover .chart_line_blur{
		-webkit-animation: icon_chart 0.8s ease-in-out infinite;
		   -moz-animation: icon_chart 0.8s ease-in-out infinite;
			-ms-animation: icon_chart 0.8s ease-in-out infinite;
			 -o-animation: icon_chart 0.8s ease-in-out infinite;
				animation: icon_chart 0.8s ease-in-out infinite;
		-webkit-transform-origin: 0% 100%;
		   -moz-transform-origin: 0% 100%;
			-ms-transform-origin: 0% 100%;
			 -o-transform-origin: 0% 100%;
				transform-origin: 0% 100%;
		-webkit-transform:translate(0px,0px) scale(1,1);
		   -moz-transform:translate(0px,0px) scale(1,1);
			-ms-transform:translate(0px,0px) scale(1,1);
			 -o-transform:translate(0px,0px) scale(1,1);
				transform:translate(0px,0px) scale(1,1);
	}
/*#icon_earth*/
.link_btn:hover .earth_w1{
		-webkit-animation: earth_www .3s linear infinite;
		   -moz-animation: earth_www .3s linear infinite;
			-ms-animation: earth_www .3s linear infinite;
			 -o-animation: earth_www .3s linear infinite;
				animation: earth_www .3s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
.link_btn:hover .earth_w2{
		-webkit-animation: earth_www .8s linear infinite;
		   -moz-animation: earth_www .8s linear infinite;
			-ms-animation: earth_www .8s linear infinite;
			 -o-animation: earth_www .8s linear infinite;
				animation: earth_www .8s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
.link_btn:hover .earth_w3{
		-webkit-animation: earth_www .6s linear infinite;
		   -moz-animation: earth_www .6s linear infinite;
			-ms-animation: earth_www .6s linear infinite;
			 -o-animation: earth_www .6s linear infinite;
				animation: earth_www .6s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
/*#icon_view*/
.link_btn:hover .icon_arrow_blue{
		-webkit-animation: icon_vertical .4s ease-in-out infinite;
		   -moz-animation: icon_vertical .4s ease-in-out infinite;
			-ms-animation: icon_vertical .4s ease-in-out infinite;
			 -o-animation: icon_vertical .4s ease-in-out infinite;
				animation: icon_vertical .4s ease-in-out infinite;
		-webkit-transform:translate(3px,3px);
		   -moz-transform:translate(3px,3px);
			-ms-transform:translate(3px,3px);
			 -o-transform:translate(3px,3px);
				transform:translate(3px,3px);
	}
.link_btn:hover .icon_view_blue{
		-webkit-animation: icon_vertical .9s ease-in-out infinite;
		   -moz-animation: icon_vertical .9s ease-in-out infinite;
			-ms-animation: icon_vertical .9s ease-in-out infinite;
			 -o-animation: icon_vertical .9s ease-in-out infinite;
				animation: icon_vertical .9s ease-in-out infinite;
		-webkit-transform:translate(0px,0px);
		   -moz-transform:translate(0px,0px);
			-ms-transform:translate(0px,0px);
			 -o-transform:translate(0px,0px);
				transform:translate(0px,0px);
	}
/*#icon_mountain*/
.link_btn:hover .mountain_area {
		-webkit-animation: mountain_area .8s linear infinite;
		   -moz-animation: mountain_area .8s linear infinite;
			-ms-animation: mountain_area .8s linear infinite;
			 -o-animation: mountain_area .8s linear infinite;
				animation: mountain_area .8s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
/*#icon_page */
	.link_btn:hover .page_line_g1 {
		-webkit-animation: page_line .8s linear infinite;
		   -moz-animation: page_line .8s linear infinite;
			-ms-animation: page_line .8s linear infinite;
			 -o-animation: page_line .8s linear infinite;
				animation: page_line .8s linear infinite;
		-webkit-transform-origin: 15% 0%;
		   -moz-transform-origin: 15% 0%;
			-ms-transform-origin: 15% 0%;
			 -o-transform-origin: 15% 0%;
				transform-origin: 15% 0%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
	.link_btn:hover .page_line_g2 {
		-webkit-animation: page_line 1.4s linear infinite;
		   -moz-animation: page_line 1.4s linear infinite;
			-ms-animation: page_line 1.4s linear infinite;
			 -o-animation: page_line 1.4s linear infinite;
				animation: page_line 1.4s linear infinite;
		-webkit-transform-origin: 15% 0%;
		   -moz-transform-origin: 15% 0%;
			-ms-transform-origin: 15% 0%;
			 -o-transform-origin: 15% 0%;
				transform-origin: 15% 0%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
	.link_btn:hover .page_line_g3 {
		-webkit-animation: page_line .5s linear infinite;
		   -moz-animation: page_line .5s linear infinite;
			-ms-animation: page_line .5s linear infinite;
			 -o-animation: page_line .5s linear infinite;
				animation: page_line .5s linear infinite;
		-webkit-transform-origin: 15% 0%;
		   -moz-transform-origin: 15% 0%;
			-ms-transform-origin: 15% 0%;
			 -o-transform-origin: 15% 0%;
				transform-origin: 15% 0%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
/*#icon_time */
	.link_btn:hover .time_line_blue {
		-webkit-animation: time_line 2.5s linear infinite;
		   -moz-animation: time_line 2.5s linear infinite;
			-ms-animation: time_line 2.5s linear infinite;
			 -o-animation: time_line 2.5s linear infinite;
				animation: time_line 2.5s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
	.link_btn:hover .time_line_red {
		-webkit-animation: time_line 22s linear infinite;
		   -moz-animation: time_line 22s linear infinite;
			-ms-animation: time_line 22s linear infinite;
			 -o-animation: time_line 22s linear infinite;
				animation: time_line 22s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}


/*** Animations LinkIcon ***/
@keyframes icon_chart {
	0% {
		-webkit-transform:translate(0px,0px) scale(1,1);
		   -moz-transform:translate(0px,0px) scale(1,1);
			-ms-transform:translate(0px,0px) scale(1,1);
			 -o-transform:translate(0px,0px) scale(1,1);
				transform:translate(0px,0px) scale(1,1);
	}
	50% {
		-webkit-transform:translate(5px,-5px) scale(0.8,0.8);
		   -moz-transform:translate(5px,-5px) scale(0.8,0.8);
			-ms-transform:translate(5px,-5px) scale(0.8,0.8);
			 -o-transform:translate(5px,-5px) scale(0.8,0.8);
				transform:translate(5px,-5px) scale(0.8,0.8);
	}
	100% {
		-webkit-transform:translate(0px,0px) scale(1,1);
		   -moz-transform:translate(0px,0px) scale(1,1);
			-ms-transform:translate(0px,0px) scale(1,1);
			 -o-transform:translate(0px,0px) scale(1,1);
				transform:translate(0px,0px) scale(1,1);
	}
}

@keyframes earth_www {
	from {
		-webkit-transform: scale(0.7,0.7);
		   -moz-transform: scale(0.7,0.7);
			-ms-transform: scale(0.7,0.7);
			 -o-transform: scale(0.7,0.7);
				transform: scale(0.7,0.7);
	}
	50% {
		-webkit-transform: scale(1.5,1.5);
		   -moz-transform: scale(1.5,1.5);
			-ms-transform: scale(1.5,1.5);
			 -o-transform: scale(1.5,1.5);
				transform: scale(1.5,1.5);
	}
	to {
		-webkit-transform: scale(0.7,0.7);
		   -moz-transform: scale(0.7,0.7);
			-ms-transform: scale(0.7,0.7);
			 -o-transform: scale(0.7,0.7);
				transform: scale(0.7,0.7);
	}
}
@keyframes icon_vertical {
	0% {
		-webkit-transform:translate(0px,0px);
		   -moz-transform:translate(0px,0px);
			-ms-transform:translate(0px,0px);
			 -o-transform:translate(0px,0px);
				transform:translate(0px,0px);
	}
	50% {
		-webkit-transform:translate(3px,3px);
		   -moz-transform:translate(3px,3px);
			-ms-transform:translate(3px,3px);
			 -o-transform:translate(3px,3px);
				transform:translate(3px,3px);
	}
	100% {
		-webkit-transform:translate(0px,0px);
		   -moz-transform:translate(0px,0px);
			-ms-transform:translate(0px,0px);
			 -o-transform:translate(0px,0px);
				transform:translate(0px,0px);
	}
}
@keyframes mountain_area {
	from {
		-webkit-transform: scale(1,1);
		   -moz-transform: scale(1,1);
			-ms-transform: scale(1,1);
			 -o-transform: scale(1,1);
				transform: scale(1,1);
	}
	50% {
		-webkit-transform: scale(0.5,0.5);
		   -moz-transform: scale(0.5,0.5);
			-ms-transform: scale(0.5,0.5);
			 -o-transform: scale(0.5,0.5);
				transform: scale(0.5,0.5);

	}
	to {
		-webkit-transform: scale(1,1);
		   -moz-transform: scale(1,1);
			-ms-transform: scale(1,1);
			 -o-transform: scale(1,1);
				transform: scale(1,1);
	}
}
@keyframes page_line {
	from {
		-webkit-transform: scaleX(0.3);
		   -moz-transform: scaleX(0.3);
			-ms-transform: scaleX(0.3);
			 -o-transform: scaleX(0.3);
				transform: scaleX(0.3);
	}
	50% {
		-webkit-transform: scaleX(1);
		   -moz-transform: scaleX(1);
			-ms-transform: scaleX(1);
			 -o-transform: scaleX(1);
				transform: scaleX(1);
	}
	to {
		-webkit-transform: scaleX(0.3);
		   -moz-transform: scaleX(0.3);
			-ms-transform: scaleX(0.3);
			 -o-transform: scaleX(0.3);
				transform: scaleX(0.3);
	}
}
@keyframes time_line {
	from {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			 -o-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}



/*** Switch styles ***/
.switch input, .switch_aqi input {
	cursor:pointer; opacity:0; position:absolute; z-index:100;
	width:100%; height:100%; margin:0; }
.switch, .switch_aqi { width:44px; height:20px; position:relative;}
.switch_aqi{ width:66px; height:30px;}

.switch label, .switch_aqi label {
	background: #e9513a;
	color:rgba(0,0,0,.18); text-shadow:1px 0 0 rgba(255,255,255,1), inherit 0 0 2px rgba(0,0,0,.2);
	box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.25);
	border-radius:4px;
	display:block; width:100%; height:100%;
	position:relative;
	transition:all .15s ease;}
.switch_aqi label{ background:#3a507f;}

.switch label div, .switch_aqi label div {
	background: #fff;
	border-radius:2px;
	display:block; width:20px; height:16px;
	top:2px; left:2px;
	position:absolute; z-index:3; 
	transition: all .15s ease;}
.switch_aqi label div{ width:36px; height:26px;}

.switch label div:before, .switch_aqi label div:before {
	content: '';
	display:block;
	position: absolute;	
	top:0; bottom:0; left:0; right:0;
	width:2px; height:8px;
	margin:auto;
	transition: all .15s ease;
	background: #d3d3d3;
	box-shadow:-3px 0 0 0 #d3d3d3,
				3px 0 0 0 #d3d3d3; }
.switch_aqi label div:before{ height:10px;}


.switch .glyphicon-ok, .switch .glyphicon-remove,
.switch_aqi .data-on, .switch_aqi .data-off{ font-size:10px; position:relative; z-index:2; }

.switch .glyphicon-ok { top:-4px; left:5px; }
.switch .glyphicon-remove{ top:-3px; left:11px; }

.switch_aqi .data-on, .switch_aqi .data-off{
	-webkit-transform:scale(0.83); line-height:20px; color:#f5ff00; text-shadow:0 0 2px rgba(0, 0, 0, 0.2);
	position:absolute;
}
.switch_aqi .data-on { top:6px; left:2px;}
.switch_aqi .data-off{ top:6px; left:40px;}

.switch input:checked~label { background:#2fca6c; }
.switch input:checked~label div { left:22px; }

.switch_aqi input:checked~label { background:#09F;}
.switch_aqi input:checked~label div { width:26px; left:38px; }


/*** Map Icon styles ***/
.div_layer, .div_map_zoom, .btn_map{ background:#fff; box-shadow:0 0 3px rgba(0,0,0,.35); box-sizing:border-box;}
.div_layer, .div_map_zoom{ display:none; border-radius:6px; box-shadow:0 0 6px rgba(0,0,0,.25);}


.btn_map  { width:30px; height:30px; padding:3px; border-radius:4px;
	-webkit-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;}
.btn_map:hover{ background:#ddd; box-shadow:0 0 3px rgba(0,0,0,.5);}

.icon_gps, .icon_eye, .icon_layer, .icon_close{ display:block; width:24px; height:24px; background-image:url(../images/icon_map_btn.png);}
.icon_gps  {background-position:0 0;}
.icon_eye  {background-position:-48px 0;}
.icon_layer{background-position:-24px 0;}
.icon_close{background-position:-72px 0; float:right; margin:-5px 0 0 0; cursor:pointer;}


.box_map_object{ position:relative; z-index:10; width:30px; height:30px;}
.box_map_object .btn_map  { position:absolute; top:0; left:0;}
.box_map_object .div_layer{ position:absolute; top:0; left:0;}
.box_map_object .div_map_zoom{ position:absolute; bottom:0px; right:0;}


.div_layer{ width:220px;  padding:10px 15px;}
.div_map_zoom{ width:120px; padding:5px;}

.div_layer ul.layer { clear:both;}
.div_layer ul.layer li{ line-height:30px; height:30px; border-bottom:1px dotted rgba(0,0,0,.3);}
.div_layer ul.layer li .switch{ float:right; margin:5px 0 0 0;}
.div_layer h5{ color:#074b96; margin:5px auto;}


.div_map_zoom img{ clear:both; width:100%;}


.aqi_range{width:300px; margin:15px 0;}
.aqi_range h5{margin:0; font-size:14px; color:#074b96;}

#ex1Slider .slider-selection { background: #00c0ff;}
.aqi_range .slider.slider-horizontal { width:300px; height:15px;}
.aqi_range .slider.slider-horizontal .slider-track { height:3px;}
.aqi_range .slider-handle { width:10px; height:10px; }
.aqi_range .slider.slider-horizontal .slider-tick,
.aqi_range .slider.slider-horizontal .slider-handle { margin-left:-5px;}
.aqi_range .tooltip-inner { background-color: rgba(7,75,150,.95);}
.aqi_range .tooltip.top .tooltip-arrow { border-top-color: rgba(7,75,150,.95);}








#canvas { width:100%; height:100%; /* overflow:hidden; position:absolute;*/
		position:fixed; z-index:1; top:0; left:0;         
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f5075+0,33bca0+85 */
background: #1f5075; /* Old browsers */
background: -moz-linear-gradient(-45deg, #1f5075 0%, #33bca0 85%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #1f5075 0%,#33bca0 85%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #1f5075 0%,#33bca0 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f5075', endColorstr='#33bca0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}






/*** New Style ***/
.wrapper_data{ padding:0 20px 0 0; height:100%; overflow-y:scroll;}
h1.title{}
h2.title{ color:#50c0c1; padding-left:12px; position:relative;}
h2.title:before{ display:block; content:'';
    border-width:10px 2px 10px 2px; border-radius:8px;
    border-style:solid; border-color:#50c0c1;
    position:absolute; left:0px; top:7px;}
h3.title{ color:#0a639a; margin-bottom:15px; border-bottom:1px dotted #0a639a;}
h4.title{ color:#0083d4; margin-bottom:15px; padding-left:12px; position:relative;}
h4.title:before{ display:block; content:'';
    border-width:4px 6px 4px 6px;
    border-style:solid;
    border-color: transparent transparent transparent #0083d4;
    position:absolute; left:0; top:5px;}
h5.title{}

.form_row{ padding-bottom:6px;}
.btn_box { padding-bottom:8px;}
.frame_style{ border:1px solid rgba(0,0,0,.15); padding:5px 20px; border-radius:8px; margin-bottom:40px;}
.frame_style .frame_box{ background:#eee; border-bottom:1px solid rgba(0,0,0,.15); margin-bottom:1px; height:100%;}
.frame_style .frame_box div{ padding:10px;}
.frame_style .frame_box div:last-child{ background:#f7f7f9;}
.frame_style .frame_box:first-child{ border-radius:6px 6px 0 0;}
.frame_style .frame_box:last-child { border-bottom:0px solid rgba(0,0,0,.15); border-radius:0 0 6px 6px;}

.ul_style_arrow{}
.ul_style_arrow li, .ul_style_list li{ position:relative;  padding:5px 0 5px 12px;}
.ul_style_arrow li:after, .ul_style_arrow li:before, 
.ul_style_list li:after, .ul_style_list li:before{
        content: ''; display: inline-block; position: absolute;
        top:8px; left:0;  width:0; height:0;
        border-radius:6px; border:6px solid transparent;
        border-left-color:#50c0c1; }
.ul_style_arrow li:after{
        margin-left:-3px; border-left-color: white; }

.ul_style_list{ padding:0 0 20px;}
.ul_style_list li{ border-bottom:1px dotted rgba(0,0,0,.15);}
.ul_style_list li:after, .ul_style_list li:before{
        border-left-color:#0083d4;}
.ul_style_list li:after{
        margin-left:-3px; border-left-color: white; }

.over-flow{ overflow:auto; zoom:1;}
.clear{clear:both;}



/*** Table style ***/
.table_title_A { background:#ebecf1; color:#555; font-weight:bold; font-size:16px; text-align:center; border-top:1px solid rgba(0,0,0,.15);}
.color_green_1 { background:rgba(153,255,155,.5);}
.color_green_2 { background:rgba(160,245,65,.5);}
.color_green_3 { background:rgba(135,235,65,.5);}
.color_yellow_1{ background:rgba(255,255,145,.5);}
.color_yellow_2{ background:rgba(255,255,90,.5);}
.color_orange_1{ background:rgba(255,210,0,.5);}
.color_red_1   { background:rgba(255,200,200,.5);}
.color_red_2   { background:rgba(255,145,145,.5);}
.color_red_3   { background:rgba(212,76,76,.5);}
.color_purple_1{ background:rgba(230,115,255,.5);}





/*** Responsive ***/
@media (min-width:1200px){
	.link_btn:after {
		-webkit-transform: rotate(12deg) scale(0.7); /*阿信scale(0.8)*/
				transform: rotate(12deg) scale(0.7);}/*阿信scale(0.8)*/
	/*.link_btn span{ width:60%;}*/
	.nav_mobile, .data_area_mobile { display:none;}

	.area_plans{ position:relative; height:600px;}
	.plans_map, .data_iframe { position:absolute; z-index:1;}
	.plans_info{ position:absolute; z-index:1;}
}
@media (max-width:1199px) and (min-width:992px){
	.link_btn:after {
		-webkit-transform: rotate(14deg) scale(0.8);
				transform: rotate(14deg) scale(0.8);}
	/*.link_btn span{ width:80%;}*/
	.nav_mobile, .data_area_mobile{ display:none;}

	.area_plans{ position:relative; height:600px;}
	.plans_map, .data_iframe { position:absolute; z-index:1;}
	.plans_info{ position:absolute; z-index:1;}
}
@media (max-width:991px) and (min-width:780px){
	.link_btn:after {
		-webkit-transform: rotate(10deg) scale(0.65);
				transform: rotate(10deg) scale(0.65);}
	.header_menu, .data_area_desktop{ display:none;}

	.area_plans{ position:relative; height:600px;}
	.plans_map { position:absolute; z-index:1;}
	.plans_info{ position:absolute; z-index:1;}
}
@media (max-width:767px) and (min-width:480px){
	.footer_logo, .footer_info{ text-align:center;}
	.link_btn:after {
		-webkit-transform: rotate(8deg) scale(0.7);
				transform: rotate(8deg) scale(0.7);}
	/*.link_btn span{ width:40%;}*/
	.header_menu, .data_area_desktop{ display:none;}

	.area_plans{ margin:20px 0 0 0; }
	.plans_map { height:300px; padding:0;}
	.plans_info, .box_airinfo { width:100%;}
	.box_tab{ display:none;}
	.ari_prediction li{ width:32.8%; /* width:13.2%;*/}
	.prediction_title, .prediction_data{ width:70%;}
	.table_hide{ display:none;}
}
@media (max-width:479px) and (min-width:320px){
	.logo img{ width:280px;}
	.footer_logo, .footer_info{ text-align:center;}
	.link_btn:after {
		-webkit-transform: rotate(10deg) scale(0.8);
				transform: rotate(10deg) scale(0.8);}
	/*.link_btn span{ width:40%;}*/
	.header_menu, .data_area_desktop{ display:none;}

	.area_plans{ margin:20px 0 0 0; }
	.plans_map { height:280px; padding:0;}
	.plans_info, .box_airinfo{ width:100%;}
	.box_tab{ display:none;}
	.ari_prediction li{ width:32%; /*width:13%;*/}
	
	.table_hide{ display:none;}
}
@media (max-width:319px){
	.logo img{ width:280px;}
	.footer_logo, .footer_info{ text-align:center;}
	.link_btn:after {
		-webkit-transform: rotate(12deg) scale(0.8);
				transform: rotate(12deg) scale(0.8);}
	.header_menu, .data_area_desktop{ display:none;}

	.area_plans{ margin:20px 0 0 0; }
	.plans_map { height:250px; padding:0;}
	.plans_info, .box_airinfo{ width:100%;}
	.box_tab{ display:none;}
	.ari_prediction li{ width:31%; /*width:13%;*/}
	
	.table_hide{ display:none;}
}


